In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
import sklearn

In [3]:
df_CO2 = pd.read_csv('../Data.csv')

In [4]:
df_CO2.dtypes

Unnamed: 0              int64
Country                object
ISO 3166-1 alpha-3     object
Year                   object
Total                 float64
Coal                  float64
Oil                   float64
Gas                   float64
Cement                float64
Flaring               float64
Other                 float64
Per Capita            float64
ISO-alpha3 Code        object
Region 1               object
Continent              object
dtype: object

In [5]:
df_CO2['Year']=df_CO2['Year'].astype(str)
df_CO2['Year']=[x[:4] for x in df_CO2['Year']]
df_CO2['Year']=pd.to_datetime(df_CO2['Year'],format='%Y')

In [6]:
df_CO2=df_CO2.dropna(thresh=7) #delete rows with 7 NaN (no observable data)

In [7]:
df_CO2.isna().sum()

Unnamed: 0                0
Country                   0
ISO 3166-1 alpha-3        0
Year                      0
Total                     0
Coal                      0
Oil                     105
Gas                     132
Cement                 4143
Flaring                 200
Other                 19921
Per Capita             4358
ISO-alpha3 Code         442
Region 1                  0
Continent                 0
dtype: int64

In [8]:
drop_columns=['ISO 3166-1 alpha-3','Cement','Other','ISO-alpha3 Code']
df_CO2 = df_CO2.drop(drop_columns, axis=1)

In [9]:
df_CO2 = df_CO2.dropna(subset=['Per Capita'])

In [10]:
values = {'Oil':0,'Gas':0,'Flaring':0}
df_CO2=df_CO2.fillna(value=values)

In [11]:
df_CO2.isna().sum()

Unnamed: 0    0
Country       0
Year          0
Total         0
Coal          0
Oil           0
Gas           0
Flaring       0
Per Capita    0
Region 1      0
Continent     0
dtype: int64

In [12]:
df_CO2.dtypes

Unnamed: 0             int64
Country               object
Year          datetime64[ns]
Total                float64
Coal                 float64
Oil                  float64
Gas                  float64
Flaring              float64
Per Capita           float64
Region 1              object
Continent             object
dtype: object

In [13]:
df_CO2 = df_CO2.drop(['Unnamed: 0','Region 1'], axis=1)

In [14]:
df_CO2.dtypes

Country               object
Year          datetime64[ns]
Total                float64
Coal                 float64
Oil                  float64
Gas                  float64
Flaring              float64
Per Capita           float64
Continent             object
dtype: object

In [15]:
cont = pd.get_dummies(df_CO2['Continent'], drop_first=True, dtype=int)
cont.head()

   Antarctica  Asia  Europe  North America  Oceania  South America  World
1           0     1       0              0        0              0      0
2           0     1       0              0        0              0      0
3           0     1       0              0        0              0      0
4           0     1       0              0        0              0      0
5           0     1       0              0        0              0      0

In [16]:
df_CO2 = pd.concat([df_CO2,cont],axis=1)

In [17]:
df_CO2 = df_CO2.drop(['Continent'],axis=1)

In [18]:
df_CO2 = df_CO2.drop(['Country'],axis=1)
df_CO2.head()

,Year,Total,Coal,Oil,Gas,Flaring,Per Capita,Antarctica,Asia,Europe,North America,Oceania,South America,World
1,1950-01-01,0.084272,0.021068,0.063204,0.0,0.0,0.011266,0,1,0,0,0,0,0
2,1951-01-01,0.091600,0.025648,0.065952,0.0,0.0,0.012098,0,1,0,0,0,0,0
3,1952-01-01,0.091600,0.031708,0.059892,0.0,0.0,0.011946,0,1,0,0,0,0,0
4,1953-01-01,0.106256,0.037949,0.068307,0.0,0.0,0.013685,0,1,0,0,0,0,0
5,1954-01-01,0.106256,0.042502,0.063754,0.0,0.0,0.013511,0,1,0,0,0,0,0

In [19]:
df_World=df_CO2[df_CO2['World']==1]

In [24]:
df_CO2 = df_CO2[df_CO2['World']==0]

In [27]:
df_CO2=df_CO2.drop('World',axis=1)

In [28]:
datapath = '../Data'
os.makedirs(datapath, exist_ok=True)
df_CO2.to_csv('../Clean_Data.csv')

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [21]:
df = df_CO2.drop(['Year'],axis=1)

In [22]:
columns = df.columns

In [23]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [24]:
df_scaled = pd.DataFrame(df_scaled, columns=columns)

In [25]:
datapath = '../Data'
os.makedirs(datapath, exist_ok=True)
df_scaled.to_csv('../Scaled_Data.csv')

In [70]:
X = df_scaled.drop(['Total'],axis=1)
y = df_scaled['Total']

In [24]:
df_World.set_index('Year', inplace=True)
df_World.sort_index(inplace=True)

AttributeError: 'DatetimeIndex' object has no attribute 'to_timestamp'

In [25]:
df_World.index = pd.DatetimeIndex(df_World.index).to_period('Y')
df_World.index = df_World.index.to_timestamp()

In [28]:
import numpy as np
df_World['Total_log'] = np.log(df_World.Total)
df_World.head()

C:\Users\akhil\AppData\Local\Temp\ipykernel_5468\2690773689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_World['Total_log'] = np.log(df_World.Total)

,Total,Coal,Oil,Gas,Flaring,Per Capita,Antarctica,Asia,Europe,North America,Oceania,South America,World,Total_log
Year,,,,,,,,,,,,,,
1750-01-01,9.350528,9.350528,0.0,0.0,0.0,0.011492,0,0,0,0,0,0,1,2.235433
1751-01-01,9.350528,9.350528,0.0,0.0,0.0,0.011438,0,0,0,0,0,0,1,2.235433
1752-01-01,9.354192,9.354192,0.0,0.0,0.0,0.011390,0,0,0,0,0,0,1,2.235825
1753-01-01,9.354192,9.354192,0.0,0.0,0.0,0.011339,0,0,0,0,0,0,1,2.235825
1754-01-01,9.357856,9.357856,0.0,0.0,0.0,0.011294,0,0,0,0,0,0,1,2.236216

In [30]:
datapath = '../Data'
os.makedirs(datapath, exist_ok=True)
df_World.to_csv('../df_World.csv')