In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name AS facility, CASE WHEN M.memid = 0 THEN slots*guestcost 
	ELSE slots*membercost END AS totalrevenue
FROM Facilities as F
LEFT JOIN Bookings as B
ON F.facid = B.facid
LEFT JOIN Members as M
ON B.memid = M.memid
WHERE CASE WHEN M.memid = 0 THEN slots*guestcost 
	ELSE slots*membercost END <1000
GROUP BY facility
ORDER BY totalrevenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 5)
('Snooker Table', 10)
('Table Tennis', 10)
('Squash Court', 35.0)
('Badminton Court', 46.5)
('Tennis Court 1', 75)
('Tennis Court 2', 75)
('Massage Room 1', 160)
('Massage Room 2', 160)

In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT mem.firstname || ' ' || mem.surname AS membername, rec.firstname || ' ' || rec.surname AS recname
FROM Members AS mem
JOIN Members AS rec
ON mem.recommendedby = rec.memid
WHERE mem.recommendedby <> '' AND mem.memid <> 0
ORDER BY mem.surname DESC, mem.firstname DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Henry Worthington-Smyth', 'Tracy Smith')
('Ponder Stibbons', 'Burton Tracy')
('Jack Smith', 'Darren Smith')
('Ramnaresh Sarwin', 'Florence Bader')
('Henrietta Rumney', 'Matthew Genting')
('Millicent Purview', 'Tracy Smith')
('David Pinker', 'Jemima Farrell')
('Charles Owen', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Janice Joplette', 'Darren Smith')
('Douglas Jones', 'David Jones')
('David Jones', 'Janice Joplette')
('John Hunt', 'Millicent Purview')
('Matthew Genting', 'Gerald Butters')
('Nancy Dare', 'Janice Joplette')
('Erica Crumpet', 'Tracy Smith')
('Joan Coplin', 'Timothy Baker')
('Gerald Butters', 'Darren Smith')
('Tim Boothe', 'Tim Rownam')
('Timothy Baker', 'Jemima Farrell')
('Anne Baker', 'Ponder Stibbons')
('Florence Bader', 'Ponder Stibbons')

In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT COUNT(B.memid) AS membercount, name
FROM Facilities as F
LEFT JOIN Bookings as B
ON F.facid = B.facid
LEFT JOIN Members as M
ON B.memid = M.memid
WHERE B.memid <> 0
GROUP BY name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(344, 'Badminton Court')
(421, 'Massage Room 1')
(27, 'Massage Room 2')
(783, 'Pool Table')
(421, 'Snooker Table')
(195, 'Squash Court')
(385, 'Table Tennis')
(308, 'Tennis Court 1')
(276, 'Tennis Court 2')

In [20]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT strftime('%m',starttime) as month, COUNT(bookid) AS numb
FROM Facilities as F
LEFT JOIN Bookings as B
ON F.facid = B.facid
LEFT JOIN Members as M
ON B.memid = M.memid
WHERE B.memid <> 0
GROUP BY MONTH;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 480)
('08', 1168)
('09', 1512)