In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
import sklearn

In [2]:
df_CO2 = pd.read_csv('../Data.csv')

In [4]:
df_CO2.dtypes

Unnamed: 0              int64
Country                object
ISO 3166-1 alpha-3     object
Year                   object
Total                 float64
Coal                  float64
Oil                   float64
Gas                   float64
Cement                float64
Flaring               float64
Other                 float64
Per Capita            float64
ISO-alpha3 Code        object
Region 1               object
Continent              object
dtype: object

In [5]:
df_CO2['Year']=df_CO2['Year'].astype(str)
df_CO2['Year']=[x[:4] for x in df_CO2['Year']]
df_CO2['Year']=pd.to_datetime(df_CO2['Year'],format='%Y')

In [5]:
CO2_data=CO2_data.dropna(thresh=7) #delete rows with 7 NaN (no observable data)

In [7]:
df_CO2.isna().sum()

Unnamed: 0                0
Country                   0
ISO 3166-1 alpha-3        0
Year                      0
Total                     0
Coal                      0
Oil                     105
Gas                     132
Cement                 4143
Flaring                 200
Other                 19921
Per Capita             4358
ISO-alpha3 Code         442
Region 1                  0
Continent                 0
dtype: int64

In [10]:
drop_columns=['ISO 3166-1 alpha-3','Cement','Other','ISO-alpha3 Code']
df_CO2 = df_CO2.drop(drop_columns, axis=1)

In [13]:
df_CO2 = df_CO2.dropna(subset=['Per Capita'])

In [17]:
values = {'Oil':0,'Gas':0,'Flaring':0}
df_CO2=df_CO2.fillna(value=values)

In [18]:
df_CO2.isna().sum()

Unnamed: 0    0
Country       0
Year          0
Total         0
Coal          0
Oil           0
Gas           0
Flaring       0
Per Capita    0
Region 1      0
Continent     0
dtype: int64

In [19]:
df_CO2.dtypes

Unnamed: 0             int64
Country               object
Year          datetime64[ns]
Total                float64
Coal                 float64
Oil                  float64
Gas                  float64
Flaring              float64
Per Capita           float64
Region 1              object
Continent             object
dtype: object

In [32]:
df_CO2 = df_CO2.drop(['Unnamed: 0','Country','Region 1'], axis=1)

In [34]:
df_CO2.dtypes

Year          datetime64[ns]
Total                float64
Coal                 float64
Oil                  float64
Gas                  float64
Flaring              float64
Per Capita           float64
Continent             object
dtype: object

In [36]:
cont = pd.get_dummies(df_CO2['Continent'], drop_first=True, dtype=int)
cont.head()

   Antarctica  Asia  Europe  North America  Oceania  South America  World
1           0     1       0              0        0              0      0
2           0     1       0              0        0              0      0
3           0     1       0              0        0              0      0
4           0     1       0              0        0              0      0
5           0     1       0              0        0              0      0

In [39]:
df_CO2 = pd.concat([df_CO2,cont],axis=1)

,Year,Total,Coal,Oil,Gas,Flaring,Per Capita,Continent,Antarctica,Asia,...,Oceania,South America,World,Antarctica,Asia,Europe,North America,Oceania,South America,World
1,1950-01-01,0.084272,0.021068,0.063204,0.0,0.0,0.011266,Asia,0,1,...,0,0,0,0,1,0,0,0,0,0
2,1951-01-01,0.091600,0.025648,0.065952,0.0,0.0,0.012098,Asia,0,1,...,0,0,0,0,1,0,0,0,0,0
3,1952-01-01,0.091600,0.031708,0.059892,0.0,0.0,0.011946,Asia,0,1,...,0,0,0,0,1,0,0,0,0,0
4,1953-01-01,0.106256,0.037949,0.068307,0.0,0.0,0.013685,Asia,0,1,...,0,0,0,0,1,0,0,0,0,0
5,1954-01-01,0.106256,0.042502,0.063754,0.0,0.0,0.013511,Asia,0,1,...,0,0,0,0,1,0,0,0,0,0

In [41]:
df_CO2 = df_CO2.drop(['Continent'],axis=1)

In [44]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [63]:
df = df_CO2.drop(['Year'],axis=1)

In [68]:
columns = df.columns

In [64]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [69]:
df_scaled = pd.DataFrame(df_scaled, columns=columns)

In [70]:
X = df_scaled.drop(['Total'],axis=1)
y = df_scaled['Total']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X,y)